# dependências
node_modules/

# build
dist/
dist-ssr/
build/

# cache
.cache/
.parcel-cache/
.vite/

# ambiente (NUNCA subir isso)
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# sistema
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# testes
coverage/
*.test.js.snap

# outros
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# uploads (se usar futuramente)
uploads/