.Body {
    display: flex;
    height: 100vh;

    background-color: rgb(240, 141, 50);
}

.ProntBord {

  

    width: 450px;
    height: 100vh;

    display: flex;
    flex-direction: column;

   
    margin-left: 65px;
}

.Up {
    
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    
    border-bottom: 1px solid rgb(223, 223, 223);

    box-shadow: -3px 0 0 rgba(0, 0, 0, 0.308);

    padding:20px;
    border-top-left-radius: 50px;
    
}

.BarraDePesquisacss {

    height: 45%;
}


.EEF {
    padding-top: 10px;
    height: 45%;
}

.Down {
     flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;

    box-shadow: -3px 0 0 rgba(0, 0, 0, 0.308);

}

/* barra inteira */
.Down::-webkit-scrollbar {
  width: 3px; /* 👈 deixa fina */
}

/* “parte que arrasta” */
.Down::-webkit-scrollbar-thumb {
  background: rgba(255, 81, 0, 0.336);;
  border-radius: 10px;
}

/* fundo da barra */
.Down::-webkit-scrollbar-track {
  background: transparent;
}

.CaixasMsg {

    display: flex;
    flex-direction: column;
    
}


.Comversa {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.UpComversa {

    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100% ;

}

.DownComversa {

    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
   

}








/*daqui em diante so para ajustar na tela*/
