.Caixa {
    
    background-color:  rgb(255, 255, 255);
    width: 450px;
    height: 115px;

    padding-left: 20px;

    border: 1px solid rgb(226, 226, 226);
   

    display: flex;        
    flex-direction: row;
    align-items: center;
    gap: 20px;

    justify-content: space-between;
    
   transition: all 0.2s ease;
    
}

.Caixa:hover {

  background-color: rgba(255, 81, 0, 0.13);
  border-left: 8px solid  rgba(255, 81, 0, 0.685);
  cursor: pointer;
  box-shadow: 5px rgba(0, 0, 0, 0.3); ;
}

.AreaFoto {

   display: flex;
   align-items: center;

}

.FotoCliente {

    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 100%; 
}

.Infos {

    
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 20px 0px;
    
}

.NomeCliente h5,
.UltMesagem h5 {
  margin: 0;
}

.UltMesagem h5 {

  max-width: 250px;
  overflow: hidden; /* esconde oq passar do limite*/
  white-space: nowrap; /* nao deixa fazer quebra de linha */
  text-overflow: ellipsis; /* corta e coloca os ... */

}

.UltMesagem h5 {

    font-weight: 300;
}

.AreaTags {
    
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.Tags0 {

    background-color: rgb(223, 255, 223);
    width: 50px;
    height: 30px;

    border-radius: 5px ;
    border: 2px solid rgb(63, 214, 63);

    color: rgb(63, 214, 63);
   
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tags1 {

    background-color: rgb(223, 255, 255);
    width: 50px;
    height: 30px;

    border-radius: 5px ;
    border: 2px solid rgb(63, 209, 214);

    color: rgb(63, 209, 214);
    
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tags2 {

    background-color: rgb(254, 255, 223);
    width: 50px;
    height: 30px;

    border-radius: 5px ;
    border: 2px solid rgb(211, 214, 63);

    color: rgb(211, 214, 63);

  display: flex;
  justify-content: center;
  align-items: center;
    
}


.Data {

 padding: 10px;
 padding-top: 70px ;
}